@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/Gotham_Pro.ttf')
}

@font-face {
    font-family: 'Gotham Pro regular';
    src: url('fonts/gotham\ pro\ regular.ttf')
}

body {
    background-image: url('img/virus.png');
}

.content {
    background-color: white;
    width: 1140px;
    margin: 0 auto;
}

.btn {
    padding: 20px 40px;
    border-radius: 30px;font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: white;
    background-color: #0F4F4F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    cursor: pointer;
}

.gray {
    background-color: #F0F0F0;
}

.header {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__image {
    width: 223px;
    height: 371px;
}

.header__image_mobile {
    display: none;
    width: 223px;
    height: 371px;
}

.header__content {
    width: 735px;
    min-height: 400px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url('img/smiles.jpg') repeat-x;
    background-position-y: 105px;
    position: relative;
}

.header__head {
    text-align: center;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 72px;
    color: #0F4F4F;
    text-transform: uppercase;
}

.header__text {
    margin-bottom:113px;
    text-align: center;
}

.imageDate {
    padding: 40px 20px;
    padding-bottom: 0;
}

.imageDate__text {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.header__text::after {
    content: "";
    position: absolute;
    width: 585px;
    height: 0px;
    border-bottom: 1px solid #0F4F4F;
    left: 75px;
    bottom: 55px;
}

.radios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.image-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    margin: 21px;
}

.image-card img {
    width: 170px;
    height: 117px;
}

.date {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 29px;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 130px;
    padding-bottom: 2vh;
}

.date-label {
    display: flex;
    justify-content: space-between;
    align-items: center;font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.startDate {
    width: 173px;
    height: 35px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-left: 24px;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050439;
    color: white;
    padding: 24px 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.footer__contact {
    color: white;
    text-decoration: none;
}

.result {
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result_view {
    width: 500px;
    height: 407px;
    background: url('img/smile3.png') 5% 96% no-repeat,
                url('img/smile3.png') 95% 96% no-repeat;
    background-color: #EDECEC;
    margin-bottom: 50px;
}

.result_img {
    width: 500px;
    height: 344px;
}

.result_text {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: block;
    padding: 20px 0;
}

.social {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code {
    padding: 34px 60px;
}

.code_img {
    display: block;
    margin: 5vw auto;
}

.code_text {
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}

.code_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
}

.code_lable {
    display: block;
    width: 25%;
    min-width: 100px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #707070;
}

.code_value {
    width: 65%;
    min-width: 200px;
    background: #FFFFFF;
    border: 1px solid #707070;
    box-sizing: border-box;
    padding: 5px;
    height: 60px;
}

.copycode {
    width: 37px;
    height: 40px;
    background: url('img/sheet1.png') no-repeat;
    cursor: pointer;
    margin-left: 10px;
}

.back_button{
    display: block;
    margin: 0 auto;
}
