body {
    background-image: url('img/virus.png')
}

.content {
    background-color: white;
    width: 1140px;
    margin: 0 auto;
}

.btn {
    padding: 20px 40px;
}

.gray {
    background-color: #F0F0F0;
}

.header {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

.header__content {
    width: 735px;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('img/smiles.jpg') repeat-x;
    background-position-y: 105px;
    position: relative;
}

.header__head {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 72px;
    color: #0F4F4F;
    text-transform: uppercase;
}

.header__text {
    margin-bottom:113px;
}

.imageDate {
    padding: 40px 60px;
}

.imageDate__text {
    text-align: center;
}

.header__text::after {
    content: "";
    position: absolute;
    width: 585px;
    height: 0px;
    border-bottom: 1px solid #0F4F4F;
    left: 75px;
    bottom: 55px;
}

.radios {
    display: flex;
    flex-wrap: wrap;
}

.image-card img {
    width: 170px;
    height: 117px;
}

.date {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.date-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startDate {
    width: 173px;
    height: 35px;
    text-align: center;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050439;
    color: white;
    padding: 24px 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}